body {
    background-color: #35000D;
}

h1 {
    color: #FFD6E7;
    font-size: 75px;
    text-align: center;
    font-family: Georgia, serif;
    text-shadow: 2px 2px 6px #E8CFA8;
}

h2 {
    color: #E8CFA8;
}

iframe {
    width: 80%;
    height: 400px;
    display: block;
    margin: 20px auto;
}
